DirectoryIndex disabled 

<filesMatch ".(jpg|jpeg|png|gif|ico|webp|webm|svg|woff2)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# Redirect traffic to your port 3015

RewriteEngine On
RewriteBase /
RewriteRule ^(.*)$ http://127.0.0.1:3015/$1 [P,L,NE]