@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title{
    @apply px-5 py-3 bg-it-black-1 text-white;
  }
  .it-card{
    @apply rounded-2xl pt-7 pb-4 px-7 flex flex-col justify-start items-center text-[2.31rem] font-extrabold leading-[87%] text-center gap-4 h-[21.5rem] w-[22rem];
  }
  .btn-it{
    @apply w-full p-4 border-[1.3px] border-solid border-it-black-1 text-it-black-1 bg-transparent flex items-center justify-start gap-4 rounded-2xl hover:border-it-blue-1 hover:text-it-blue-1;
  }
  .it-input-border{
    @apply border-solid border-[1.5px] border-it-black-1;
  }
  .polygon{
    -webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  }
  .bg-hero{
    background: rgb(0,0,0);
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.05) 100%), url('../../public/images/hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-home{
    background-image: url('../../public/images/bg-home.svg');
    background-repeat: repeat;
    background-size: auto;
  }
  .bg-banner{
    background: rgb(0,0,0);
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.05) 100%), url('../../public/images/banner.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
